#@brief   A .gitignore file for a Python utilities
#@file    .gitignore
#@author  David BLACK  GH: @bballdave025
#@since   2023-03-10
#
#  -v- In case this file gets copied to another repo without changing -v-
#+ -v- this stuff, there will be a reference to the previous repo     -v-
#@orig_repo  dwb_python_util
#@project    dwb_util
#@package    dwb_python_util

# Specific directories
**/__pycache__

